body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(0, 0, 0);
}


#calc{
    font-weight: bold; /* Use font-weight to make the text bolder */
    font-size: medium;
    text-align: center;
    margin-bottom: 10px;
}



.calculator {
    border: 5px solid #bfb613;
    border-radius: 8px;
    padding: 20px;
    background-color: #828280;
    box-shadow: rgba(248, 244, 244, 0.35) 0px 5px 15px;
}

.display {
    background-color: #302d2d;
    border: 2px solid #e3d916;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: right;
    font-size: 24px;
    min-height: 50px;
    color: #bfb613;
    box-shadow: rgba(203, 200, 200, 0.24) 0px 3px 8px;

}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;

    
}

button {
    color: #bfb613;
    border: 1px solid #e3d916;
    box-shadow: rgba(161, 158, 158, 0.24) 0px 3px 8px;
    padding: 10px;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #302d2d;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #070707;
}
